body {
    background-color: #cccccc;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

button {
    width: 148px;
}

/*#testsCity1{*/
    /*width: 569px;*/
    /*height: 31px;*/
/*}*/

#year{
    width: 148px;
    height: 31px;
}
#dropdownMenu55{
    width: 148px;
    height: 45px;
}
#dropdownMenu555{
    width: 148px;
    height: 43px;
}

#inputGroupFile01{
    width: 148px;
    height: 43px;
}
#inputGroupFile02{
    width: 148px;
    height: 43px;
}

#inputGroupFile07{
    width: 148px;
    height: 43px;
}

#inputGroupFile10{
    width: 148px;
    height: 43px;
}

#inputtext{
    width: 600px;
    height: 150px;
}

.form-check-input {
    width: 19px;
    height: 19px;
}


#nav{
    height: 56px;
}

#inputGroupFile071{
    width: 563px;
    height: 38px;
}

#inputGroupFile0171{
    width: 569px;
    height: 38px;
}

#allCities{
    width: 400px;
    height: 38px;
}


.form-check-input {
    width: 20px;
    height: 20px;
}

#testsCity1{
    width: 0;
    height: 0;
    margin-left: 280px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}

#testsCity{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}
#allBrandsDropdown{
    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}
.dropdown-toggle{
    width: 148px;
}


#testsCity{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}
#allBrandsDropdown{
    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsFuel{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}


#allModels{
    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}


#testsModel{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 21px;
    z-index: 6;
    left: 100px;
}

#allDiferential{

    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsDiferential{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}

#allBodyType{

    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsBodyType{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}

#allDiferentials{

    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsDiferential{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}

#allColors{

    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsColor{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}


#allGearboxes{

    background-color: #f8f9fa;
    color: #212529;
    border-color: #f8f9fa;
}

#testsGearbox{
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    color: black;
    position: relative;
    border-left: .3em solid transparent;
    top: 22px;
    z-index: 6;
    left: 100px;
}